@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chonburi&family=Notable&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/assets/wallpaper-bricole-bricks.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
/* Borders-Design */
#polygon1 {
    position: relative;
    left: 3%;
}

/* Navbar */
.navbar {
    height: 70px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
/* Logo + Name */
.logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.logo {
    width: 20%;
    height: auto;
}

.brand {
    font-size: 1.8em;
    font-family: "Uncial Antiqua", system-ui;
    font-weight: normal;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    position: relative;
    color: #FFFFFF;
    font-family: 'Anta', sans-serif;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: #E10600;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}


.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Texts */
p {
    margin-left: 10%;
    color: #fff;
}

.catchphrase {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Exo", sans-serif;
    font-size: 40px;
}

.welcome-bricole {
    font-size: 28px;
    margin-bottom: 55px;
    color: #0077FF;
    font-family: "Neuton", sans-serif;
}

h1 {
    margin-left: 10%;
    font-size: 40px;
    font-family: "Uncial Antiqua";
    color: #fff;
    font-weight: 100;
    margin-bottom: 20px;
}

/* Carousel */
.carousel-container {
    position: relative;
    width: 900px; 
    margin: 0 auto;
    overflow: hidden; 
    padding: 20px 0; 
}

.carousel-track {
    display: flex; 
    width: fit-content;
    transition: transform 0.3s ease-in-out; 
}

.card {
    min-width: 270px;
    height: 450px;
    margin-right: 30px;
    background-color: transparent;
    color: white;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}
.card:hover {
    transform: scale(1.1);
}
.card img {
    width: 100%;
    height: 100%;
}
.prev-button,
.next-button {
    background: transparent;
    border: none;
}
.prev-button img,
.next-button img {
    width: 36px;
}

.prev-button {
    margin-top: 10px;
    margin-left: 45.5%;
    cursor: pointer;
}

.next-button {
    right: 0;
    cursor: pointer;
}

/* Borders-Design */
#polygon2 {
    position: absolute;
    bottom: -24%;
}